<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
        th:replace="~{normal/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	
	<section>
	    <div class="container">
	       <div class="card1">
	         <div class="card-body1">
	          <div class="container text-center">
	            <img src="" style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/contact-lo-2.png'}" alt="profile photo" />
	          </div>
	          <h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
	                  Start Adding your contact on cloud...
	         </h1>
	          <div class="container text-center mt-4">        
	            <a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase">Add New Contact</a>      
	          </div>
	        </div>    
	     </div>       
	   </div>       
	</section>
	
</body>
</html>