body{
	background: #e2e2e2!important;
}

 
	 .bg-primary{
	background: #009688 !important;
}

.banner{
	width: 100%;
	height:93vh;
	background: url(../img/banner.jpg);
	background-size:cover;
	color: white;
}

.my-card{
	padding:50px;
	 border: 1px solid black;
	background-color: silver;
}


.card{
height: 450px;
margin-top: auto;
margin-bottom: auto;
width: 500px;
 border: 1px solid black;
background-color: slategrey;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}


.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

/* sidebar style */

@media only screen and (max-width: 600px){
	.sidebar{
		display: none;
		width: 80% !important;
		background: white;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content{
		margin-left: 0%! important;
	}
}

.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 99999999999999999999999999999;
}

.sidebar a{
	display: block ;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none ;
	color:gray ;
	
}

.sidebar a:hover{
	background: #e2e2e2;
}

.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	
}


.content{
	margin-left: 20%;
}

 .sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

.my_profile_picture{
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid black;
}

/* search css */

.search-container{
	position:absolute;
	background: white;
	width: 100%;
	padding:10px;
	border: 1px solid gary;
	display: none;
}


